:root {
    --primary: hsl(220, 98%, 61%);
    --check-background: linear-gradient(to bottom right,#57ddff, #c058f3);

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);
    --very-dark-grayish-blue-check: hsl(233, 14%, 35%);

    font-size: 18px;

    font-family: 'Josefin Sans', sans-serif;

    
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.home-container {
    background-image: url('./images/bg-desktop-dark.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--very-dark-blue);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-top: 15vh; */
    /* padding-bottom: 5vh; */
    /* justify-content: center; */
    align-items: center;
}

.todo-app {
    width: clamp(300px, 80%, 700px);
    height: 100%;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.icon-sun {
    width: 40px;
    height: 40px;
}

.create-todo {
    width: 100%;
    height: 80px;
    background: var(--very-dark-desaturated-blue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5vh;
    /* padding: 10px 0; */
}

.create-todo > input {
    color: var(--light-grayish-blue);
    margin-left: 20px;
    background: inherit;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    height: 20px;
    max-height: 100%;
    width: 100%;
    margin-right: 20px;
    text-align: left;
}

.create-todo > input::placeholder {
    color: var(--very-dark-grayish-blue);
}

.create-todo > a {
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 20px;
    border: 2px solid var(--very-dark-grayish-blue);
    margin-left: 20px;
    cursor: pointer;
}

.container-todo {
    margin-top: 40px;
    /* padding-bottom: 20px; */
    height: 100%;
}

.container-todo > :first-child {
    border: inherit;
    border-radius: 10px 10px 0 0;
}

.container-todo > :last-child {
    border-radius:  0 0 10px 10px;
}

.list-todos {
    width: 100%;
    height: 100%;
    min-height: 80px;
    background: var(--very-dark-desaturated-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 10px; */
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    /* margin-top: 5vh; */
    border-top-color: var(--very-dark-grayish-blue);
    border-top-width: 1px;
    border-top-style: solid;
}

.list-todos > div {
    display: flex;
    align-items: center;
    max-height: 100%;
    padding: 20px 0px;
}

.list-todos > div > p {
    margin-left: 20px;
    max-width: 100%;
    word-break: break-word;
}

.list-todos > img {
    margin: 0 20px;
    cursor: pointer;
}

.list-todos > div > a {
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 20px;
    border: 2px solid var(--very-dark-grayish-blue-check);
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-todos-footer {
    width: 100%;
    height: 80px;
    background: var(--very-dark-desaturated-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 10px; */
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    /* margin-top: 5vh; */
    border-top-color: var(--very-dark-grayish-blue);
    border-top-width: 1px;
    border-top-style: solid;
}

.list-todos-footer > p {
    color: var(--very-dark-grayish-blue);
}

.list-todos-footer > :first-child {
    margin-left: 20px;
}

.list-todos-footer > :last-child {
    margin-right: 20px;
    cursor: pointer;
}

.buttons-footer {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: var(--very-dark-grayish-blue);
    
}

.buttons-footer > p {
    cursor: pointer;
}

.icon-checked {
    background-image: var(--check-background);
}

.text-checked {
    text-decoration: line-through;
    color: var(--very-dark-grayish-blue-check);
}

.text-unchecked {
    color: var(--light-grayish-blue);
}

.buttons-footer-active {
    color: var(--primary);
}

.buttons-footer-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    color: var(--very-dark-grayish-blue);
    background: var(--very-dark-desaturated-blue);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.buttons-footer-mobile > p {
    margin-right: 40px;
    cursor: pointer;
}

.buttons-footer-mobile > :last-child {
    margin-right: 0px;
}

.full-border-radius {
    border: inherit;
    border-radius: 10px !important;
}

@media (max-width: 1024px) {
    .buttons-footer {
        display: none;
    }

    .buttons-footer-mobile {
        display: flex;
    }
}